name: "Deploy para VPS"
on:
    push:
        branches:
            - Desenv
jobs:
    build_deploy:
        runs-on: ubuntu-latest

        steps:
            - name: "Baixar o c칩digo"
              uses: actions/checkout@v4

            # Instalar o Docker
            - name: "Instalar Docker"
              run: |
                sudo apt-get update
                sudo apt-get install ca-certificates curl
                sudo install -m 0755 -d /etc/apt/keyrings
                sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
                sudo chmod a+r /etc/apt/keyrings/docker.asc
                echo \
                "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
                $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
                sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
                sudo apt-get update
                sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

            # Instalar SDK do .NET 8
            - name: Instalar o SDK do .NET 8
              run: |
                sudo apt install -y wget gpg
                # Baixar a chave de assinatura
                wget https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/packages-microsoft-prod.deb
                # Instalar o pacote que adiciona o reposit칩rio
                sudo dpkg -i packages-microsoft-prod.deb
                # Remover arquivo tempor치rio
                rm packages-microsoft-prod.deb
                sudo apt update
                sudo apt install -y dotnet-sdk-8.0
            
            # Instalar Entity Framework CLI
            - name: Instalar Entity Framework CLI
              run: |
                dotnet tool install --global dotnet-ef
                # Adicionar a pasta de ferramentas globais ao PATH, se necess치rio
                echo 'export PATH="$PATH:$HOME/.dotnet/tools"' >> ~/.bashrc
                source ~/.bashrc

            # Instalar Sshpass
            - name: "Install sshpass"
              run: |
                sudo apt-get update
                sudo apt-get install -y sshpass

            # Copiar o arquivo appsettings.json do servidor remoto
            - name: "Copiar appsettings.json do servidor remoto"
              run: |
                  sudo sshpass -p "${{ secrets.SFTP_PASSWORD }}" \
                  scp -o StrictHostKeyChecking=no \
                  ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }}:/var/www/api-back/config-api-back/appsettings.json ./ApiBlog/appsettings.json

            # Construir a imagem Docker
            - name: "Construir a imagem Docker"
              run: |
                  docker build -t imagem-api-blog ./ApiBlog

            # Salvar a imagem Docker como arquivo tar
            - name: "Salvar imagem Docker como arquivo tar"
              run: |
                  docker save -o imagem-api-blog.tar imagem-api-blog

            # Transferir a imagem Docker para o servidor remoto
            - name: "Transferir imagem Docker para o servidor remoto"
              run: |
                  sshpass -p "${{ secrets.SFTP_PASSWORD }}" \
                  scp -o StrictHostKeyChecking=no imagem-api-blog.tar \
                  ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }}:/var/www/api-back/imagem-api-back/
                  
            # Remover container e imagem Docker no servidor remoto
            - name: "Remover container e imagem Docker do servidor remoto"
              run: |
                  sshpass -p "${{ secrets.SFTP_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
                  ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }} << 'EOF'
                      # Parar o container, se estiver rodando
                      sudo docker stop container-api-blog || true
                      # Remover o container
                      sudo docker rm container-api-blog || true
                      # Remover a imagem
                      sudo docker rmi imagem-api-blog || true
                  EOF

            # Aplicar as migrations
            - name: "Aplicar Migrations"
              run: |
                  dotnet ef database update --project ApiBlog

            # Carregar a imagem Docker a partir do arquivo .tar no servidor remoto
            - name: "Carregar a imagem Docker do arquivo .tar"
              run: |
                  sshpass -p "${{ secrets.SFTP_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
                  ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }} << 'EOF'
                      # Carregar a imagem Docker a partir do arquivo .tar
                      sudo docker load -i /var/www/api-back/imagem-api-back/imagem-api-blog.tar
                  EOF

            # Rodar a imagem Docker no servidor remoto
            - name: "Rodar a imagem Docker no servidor remoto"
              run: |
                  sshpass -p "${{ secrets.SFTP_PASSWORD }}" ssh -o StrictHostKeyChecking=no \
                  ${{ secrets.SFTP_USERNAME }}@${{ secrets.SFTP_HOST }} << 'EOF'
                      # Rodar o container com a imagem
                      sudo docker run -d --name container-api-blog -p 5000:5000 imagem-api-blog
                  EOF